@{
  Layout = "_Layout";
}
@model Eticaret.Models.HomeViewModel;
<div class="pb-sm-5 pb-2 rounded-top">
  <div class="container py-5">
    <h2 class="text-center mb-2 mt-0 mt-md-4">Ürünler</h2>
    <p class="text-center">En sevdiğiniz ürünleri keşfedin ve sepetinize ekleyin.</p>

    <div class="row mx-0 gy-4 px-lg-5">
@foreach (var product in Model.Urunler)
{
        <div class="col-md-4">
          <div class="card border rounded shadow-sm h-100 product-card">
            <div class="card-body text-center">
              <img src="@product.ImageUrl" alt="@product.Name" class="mb-3" height="150">
              <h5 class="card-title fw-semibold mb-1">@product.Name</h5>
              <p class="text-muted mb-2">@product.Description</p>
              <div class="mb-2">
                <span class="text-primary fw-bold">₺@product.Price</span>
                <s class="text-muted">₺@product.OldPrice</s>
              </div>
             <a asp-action="Index" asp-route-addProductId="@product.Id" class="btn btn-primary d-grid w-100">Sepete Ekle</a>


            </div>
          </div>
        </div>
}

      <style>
        .product-card {
          transition: transform 0.3s, box-shadow 0.3s;
        }

        .product-card:hover {
          transform: translateY(-5px);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        }
      </style>