@{
  Layout = "_Layout";

}
@using Eticaret.Migrations
@model Eticaret.Models.HomeViewModel;



<div id="wizard-checkout" class="bs-stepper wizard-icons wizard-icons-example mt-2">
  <div class="bs-stepper-header m-auto border-0 py-5">
    <div class="step active" data-target="#checkout-cart">
      <button type="button" class="step-trigger" aria-selected="true">
        <span class="bs-stepper-icon">
          <svg viewBox="0 0 58 54">
            <use xlink:href="../../assets/svg/icons/wizard-checkout-cart.svg#wizardCart"></use>
          </svg>
        </span>
        <span class="bs-stepper-label">Sepet</span>
      </button>
    </div>
    <div class="line">
      <i class="ti ti-chevron-right"></i>
    </div>
    <div class="step" data-target="#checkout-address">
      <button type="button" class="step-trigger" aria-selected="false">
        <span class="bs-stepper-icon">
          <svg viewBox="0 0 54 54">
            <use xlink:href="../../assets/svg/icons/wizard-checkout-address.svg#wizardCheckoutAddress"></use>
          </svg>
        </span>
        <span class="bs-stepper-label">Adres</span>
      </button>
    </div>
    <div class="line">
      <i class="ti ti-chevron-right"></i>
    </div>
    <div class="step" data-target="#checkout-payment">
      <button type="button" class="step-trigger" aria-selected="false">
        <span class="bs-stepper-icon">
          <svg viewBox="0 0 58 54">
            <use xlink:href="../../assets/svg/icons/wizard-checkout-payment.svg#wizardPayment"></use>
          </svg>
        </span>
        <span class="bs-stepper-label">Ödeme</span>
      </button>
    </div>
    <div class="line">
      <i class="ti ti-chevron-right"></i>
    </div>
    <div class="step" data-target="#checkout-confirmation">
      <button type="button" class="step-trigger" aria-selected="false">
        <span class="bs-stepper-icon">
          <svg viewBox="0 0 58 54">
            <use xlink:href="../../assets/svg/icons/wizard-checkout-confirmation.svg#wizardConfirm"></use>
          </svg>
        </span>
        <span class="bs-stepper-label">Onay</span>
      </button>
    </div>
  </div>
  <div class="bs-stepper-content border-top">
    <form id="wizard-checkout-form">
      <!-- Cart -->
      <div id="checkout-cart" class="content fv-plugins-bootstrap5 fv-plugins-framework active dstepper-block">
        <div class="row">
          <!-- Cart left -->
          <div class="col-xl-8 mb-3 mb-xl-0">
            <!-- Offer alert -->


            <!-- Shopping bag -->
            <h5>Sepetim (@Model.SepetSayisi Öğe)</h5>
            <ul class="list-group mb-3">

              @{
                var groupedSepet = Model.SepetList
                .GroupBy(s => s.Urunler.Id)
                .Select(g => new
                {
                  Urun = g.First().Urunler,
                  Adet = g.Count(),
                  Quantity = g.First().Quantity
                }).ToList();
              }


              @foreach (var item in groupedSepet)
              {
                <li class="list-group-item p-4">
                  <div class="d-flex gap-3">
                    <div class="flex-shrink-0 d-flex align-items-center">
                      <img src="@item.Urun.ImageUrl" class="w-px-100">
                    </div>
                    <div class="flex-grow-1">
                      <div class="row">
                        <div class="col-md-8">
                          <p class="me-3">
                            <a href="javascript:void(0)" class="text-body">@item.Urun.Name</a>
                          </p>
                          <div class="text-muted mb-2 d-flex flex-wrap">
                            <span class="me-1">Satıcı:</span>
                            <a href="javascript:void(0)" class="me-3">MyShop</a>
                            <span class="badge bg-label-success">Stokta</span>
                          </div>
                          <div class="jq-ry-normal-group jq-ry-group">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 12.705 512 486.59"
                              width="18px" height="18px" fill="#f39c12">
                              <polygon
                                points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566">
                              </polygon>
                            </svg>
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 12.705 512 486.59"
                              width="18px" height="18px" fill="#f39c12" style="margin-left: 4px;">
                              <polygon
                                points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566">
                              </polygon>
                            </svg>
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 12.705 512 486.59"
                              width="18px" height="18px" fill="#f39c12" style="margin-left: 4px;">
                              <polygon
                                points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566">
                              </polygon>
                            </svg>
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 12.705 512 486.59"
                              width="18px" height="18px" fill="#f39c12" style="margin-left: 4px;">
                              <polygon
                                points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566">
                              </polygon>
                            </svg>
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 12.705 512 486.59"
                              width="18px" height="18px" fill="gray" style="margin-left: 4px;">
                              <polygon
                                points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566">
                              </polygon>
                            </svg>
                          </div>

                        </div>
                        <div class="col-md-4">
                          <div class="text-md-end">
                            <a asp-action="SepetGuncelle" asp-route-id="@item.Urun.Id" asp-route-sil="1"
                              class="btn-close btn-pinned" aria-label="Close"></a>
                            <div class="my-2 my-md-4 mb-md-5">
                              <span class="text-primary">@item.Urun.Price TL</span>
                              <s class="text-muted">@item.Urun.OldPrice TL</s>
                            </div>

                            <!-- Adet kontrolü -->
                            <div class="d-flex justify-content-end align-items-center gap-2 mt-2">
                              <a asp-action="SepetGuncelle" asp-route-id="@item.Urun.Id" asp-route-azalt="1"
                                class="btn btn-outline-primary btn-sm rounded-circle d-flex align-items-center justify-content-center"
                                style="width:36px; height:36px; font-weight:bold;">-</a>

                              <span class="quantity-display text-center"
                                style="width:45px; height:36px; display:flex; align-items:center; justify-content:center; border-radius:8px; border:1px solid #ced4da;"
                                data-id="@item.Urun.Id">@item.Quantity</span>


                              <a asp-action="SepetGuncelle" asp-route-id="@item.Urun.Id" asp-route-arttir="1"
                                class="btn btn-outline-primary btn-sm rounded-circle d-flex align-items-center justify-content-center"
                                style="width:36px; height:36px; font-weight:bold;">+</a>
                            </div>




                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              }



            </ul>

            <!-- Wishlist -->
            <div class="list-group">
              <a asp-action="Index" class="list-group-item d-flex justify-content-between">
                <span>Daha fazla ürün ekle</span>
                <i class="ti ti-sm ti-chevron-right scaleX-n1-rtl"></i>
              </a>
            </div>
          </div>

          <!-- Cart right -->
          <div class="col-xl-4">
            <br />
            <br />
            <div class="border rounded p-4 mb-3 pb-3">
              <!-- Fiyat Detayları -->
              <h6>Fiyat Detayları</h6>

              @{
                // Sepet toplamını hesapla
                decimal sepetToplam = Model.SepetList.Sum(x => x.Urunler.Price * x.Quantity);

              }

              <dl class="row mb-0">
                <dt class="col-6 fw-normal">Sepet Toplamı</dt>
                <dd class="col-6 text-end">₺@sepetToplam.ToString("N2")</dd>


              </dl>

              <hr class="mx-n4">
              <dl class="row mb-0">
                <dt class="col-6">Genel Toplam</dt>
                <dd class="col-6 fw-semibold text-end mb-0">₺
                  @(sepetToplam > 5000 ? sepetToplam.ToString("N2") : (sepetToplam + 250).ToString("N2"))
                </dd>

              </dl>
            </div>


            <div class="d-grid">
              <button type="button" id="goToAddress" class="btn btn-primary btn-next waves-effect waves-light">
                Adres Seçin
              </button>
            </div>

          </div>
        </div>
      </div>

      <!-- Address -->
      <div id="checkout-address" class="content fv-plugins-bootstrap5 fv-plugins-framework">
        <div class="row">
          <!-- Address left -->
          <div class="col-xl-9 mb-3 mb-xl-0">
            <!-- Select address -->
            <p>Tercih ettiğiniz adresi seçin</p>
            <div class="row mb-3">

              @if (TempData["SuccessMessage"] != null)
              {
                <div class="alert alert-success alert-dismissible fade show mt-3" role="alert">
                  <strong>Başarılı!</strong> @TempData["SuccessMessage"]
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
              }
              <div class="row">
                @foreach (var adres in Model.AdreslerList)
                {
                  <div class="col-md mb-md-0 mb-2">
                    <div
                      class="form-check custom-option custom-option-basic @(adres == Model.AdreslerList.First() ? "checked" : "")">
                      <label class="form-check-label custom-option-content" for="customRadioAddress@adres.Id">
                        <input name="customRadioTemp" class="form-check-input" type="radio" value="@adres.Id"
                          id="customRadioAddress@adres.Id" @(adres == Model.AdreslerList.First() ? "checked" : "")>
                        <span class="custom-option-header mb-2">
                          <span class="fw-semibold h6 mb-0"></span>
                          <span class="badge bg-label-primary">@adres.AdresTuru</span>
                        </span>
                        <span class="custom-option-body">
                          <small>
                            @adres.AdresDetay, @adres.Ilce, @adres.Il, @adres.PostaKodu<br>

                          </small>
                          <hr class="my-2">

                          <a asp-action="AdresSil" asp-route-id="@adres.Id"> <i class="ti ti-trash"> </i></a>

                        </span>
                      </label>
                    </div>
                  </div>
                }
              </div>


            </div>
            <button type="button" class="btn btn-label-primary mb-4 waves-effect" data-bs-toggle="modal"
              data-bs-target="#addNewAddress">
              Yeni Adres Ekle
            </button>
            <!-- Add New Address Modal -->


            <!--/ Add New Address Modal -->
            <div asp-validation-summary="All" class="text-danger"></div>
            <!-- Choose Delivery -->
            <p>Kargo Tipini Seçin</p>
            <div class="row">


              @{
                var secilenId = Context.Session.GetInt32("SecilenTeslimatId") ?? 0;
              }


              @foreach (var teslimat in Model.TeslimatSecenekleri)
              {
                <div class="col-md mb-md-0 mb-2">
                  <div
                    class="custom-option custom-option-icon position-relative @(secilenId == teslimat.Id ? "checked" : "")">
                    <label class="form-check-label custom-option-content" for="customRadioDelivery_@teslimat.Id">
                      <span class="custom-option-body">
                        <i class="@teslimat.Icon"></i>
                        <span class="custom-option-title mb-1">@teslimat.Ad</span>
                        <span class="badge bg-label-success btn-pinned">
                          @(teslimat.Ucret == 0 ? "Ücretsiz" : teslimat.Ucret.ToString("N2") + " TL")
                        </span>
                        <small>@teslimat.Aciklama</small>
                      </span>

                      <a href="@Url.Action("SecilenTeslimat", "Home", new { id = teslimat.Id })"
                        class="btn btn-sm btn-outline-primary mt-2">
                        Seç
                      </a>
                    </label>
                  </div>
                </div>
              }

            </div>
          </div>

          <!-- Address right -->
          <div class="col-xl-3">
            <br />
            <br />
            <div class="border rounded p-4 mb-3 pb-3">
              <!-- Fiyat Detayları -->
              <h6>Kargo Detayları</h6>

              <dl class="row mb-0">
                <dt class="col-6 fw-normal">Sepet Toplamı</dt>
                <dd class="col-6 text-end">₺@sepetToplam.ToString("N2")</dd>


                <dt class="col-6 fw-normal"> Kargo Fiyatı </dt>
                <dd class="col-6 text-end">
                  @{
                    decimal kargoUcreti;
                  }
                  @if (secilenId == 1)
                  {
                    @:Ücretsiz
                    kargoUcreti = 0;
                  }
                  else if (secilenId == 2)
                  {
                    @:150,00 TL
                    kargoUcreti = 150;
                  }
                  else
                  {
                    @:500,00 TL
                    kargoUcreti = 500;
                  }

                </dd>
              </dl>

              <hr class="mx-n4">
              <dl class="row mb-0">
                <dt class="col-6">Genel Toplam</dt>
                <dd class="col-6 fw-semibold text-end mb-0">₺
                  @{
                    decimal toplam = sepetToplam == 0 ? 0 : sepetToplam;
                    toplam += kargoUcreti;
                  }
                  @toplam.ToString("N2")

                </dd>

              </dl>
            </div>


            <div class="d-grid">
              <button type="button" id="goToPayment" class="btn btn-primary btn-next waves-effect waves-light">
                Ödemeye Geç
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- Payment -->
      <div id="checkout-payment" class="content fv-plugins-bootstrap5 fv-plugins-framework">
        <div class="row">
          <!-- Payment left -->
          <div class="col-xl-9 mb-3 mb-xl-0">
            <!-- Offer alert -->


            <!-- Payment Tabs -->
            <div class="col-xxl-6 col-lg-8">
              <ul class="nav nav-pills mb-3" id="paymentTabs" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="pills-cc-tab" data-bs-toggle="pill" data-bs-target="#pills-cc"
                    type="button" role="tab" aria-controls="pills-cc" aria-selected="true">
                    Kredi Kartı
                  </button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-cod-tab" data-bs-toggle="pill" data-bs-target="#pills-cod"
                    type="button" role="tab" aria-controls="pills-cod" aria-selected="false" tabindex="-1">
                    Kapıda Ödeme
                  </button>
                </li>

              </ul>
              <div class="tab-content px-0" id="paymentTabsContent">
                <!-- Credit card -->
                <div class="tab-pane fade show active p-3" id="pills-cc" role="tabpanel" aria-labelledby="pills-cc-tab">
                  <div class="row g-3">
                    <div class="col-12">
                      <label class="form-label w-100" for="paymentCard">Kart Numarası</label>
                      <div class="input-group input-group-merge">
                        <input id="paymentCard" name="paymentCard" class="form-control credit-card-mask" type="text"
                          placeholder="1356 3215 6548 7898" aria-describedby="paymentCard2">
                        <span class="input-group-text cursor-pointer p-1" id="paymentCard2"><span
                            class="card-type"></span></span>
                      </div>
                    </div>
                    <div class="col-12 col-md-6">
                      <label class="form-label" for="paymentCardName">İsim Soyisim</label>
                      <input type="text" id="paymentCardName" class="form-control" placeholder="Ali YILMAZ">
                    </div>
                    <div class="col-6 col-md-3">
                      <label class="form-label" for="paymentCardExpiryDate">S.K. Tarihi</label>
                      <input type="text" id="paymentCardExpiryDate" class="form-control expiry-date-mask"
                        placeholder="AA/YY">
                    </div>
                    <div class="col-6 col-md-3">
                      <label class="form-label" for="paymentCardCvv">CVV Kodu</label>
                      <div class="input-group input-group-merge">
                        <input type="text" id="paymentCardCvv" class="form-control cvv-code-mask" maxlength="3"
                          placeholder="654">
                        <span class="input-group-text cursor-pointer" id="paymentCardCvv2"><i
                            class="ti ti-help text-muted" data-bs-toggle="tooltip" data-bs-placement="top"
                            aria-label="Card Verification Value"
                            data-bs-original-title="Kart Güvenlik Numarası"></i></span>
                      </div>
                    </div>
                    <div class="col-12">
                      <label class="switch">
                        <input type="checkbox" class="switch-input">
                        <span class="switch-toggle-slider">
                          <span class="switch-on"></span>
                          <span class="switch-off"></span>
                        </span>
                        <span class="switch-label">Sonraki Alışverişler İçin Kaydet?</span>
                      </label>
                    </div>
                    <div class="col-12">
                      <button type="button" class="btn btn-primary btn-next me-sm-3 me-1 waves-effect waves-light">Ödeme
                        Yap</button>
                      <button type="reset" class="btn btn-label-secondary waves-effect">İptal</button>
                    </div>
                  </div>
                </div>

                <!-- COD -->
                <div class="tab-pane fade p-3" id="pills-cod" role="tabpanel" aria-labelledby="pills-cod-tab">
                  <p>
                    Kapıda Ödeme, alıcının sipariş bedelini önceden ödemek yerine teslimat sırasında ödemesini yaptığı
                    bir ödeme yöntemidir.
                  </p>
                  <button type="button" class="btn btn-primary btn-next waves-effect waves-light">Kapıda Öde</button>
                </div>


              </div>
            </div>
          </div>
          <!-- Address right -->
          <div class="col-xl-3">
            <div class="border rounded p-4">
              <!-- Price Details -->
              <h6>Ödeme Detayları</h6>
              <dl class="row">
                <dt class="col-6 fw-normal">Toplam Ödeme</dt>
                <dd class="col-6 text-end"> @sepetToplam.ToString("N2") TL</dd>

                <dt class="col-6 fw-normal">Kargo Ücreti</dt>
                <dd class="col-6 text-end">
                  @kargoUcreti TL
                </dd>
              </dl>
              <hr class="mx-n4">
              @{
                // Sipariş listesi boş olabilir, güvenli bir şekilde ilk siparişi alıyoruz
                var ilkSiparis = Model.SiparisList?.FirstOrDefault();
              }

              <dl class="row">
                <dt class="col-6 fw-normal">Gönderim:</dt>
                <dd class="col-6 fw-semibold text-end mb-0">
                  @if (ilkSiparis?.Adres != null)
                  {
                    <span class="badge bg-label-primary">@ilkSiparis.Adres.AdresTuru</span>
                  }
                  else
                  {
                    <span class="badge bg-label-secondary">Adres Yok</span>
                  }
                </dd>
              </dl>

              <!-- Address Details -->
              @if (ilkSiparis?.Adres != null)
              {
                <address class="text-heading">
                  <span>@ilkSiparis.Adres.Ad @ilkSiparis.Adres.Soyad,</span><br>
                  @ilkSiparis.Adres.Mahalle <br>
                  @ilkSiparis.Adres.AdresDetay, @ilkSiparis.Adres.PostaKodu. <br>
                  @ilkSiparis.Adres.Ulke @ilkSiparis.Adres.Il
                  @ilkSiparis.Adres.Ilce
                </address>
              }
              else
              {
                <address class="text-heading">
                  <span>Adres bilgisi mevcut değil.</span>
                </address>
              }

            </div>
          </div>
        </div>
      </div>

      <!-- Confirmation -->
      <div id="checkout-confirmation" class="content fv-plugins-bootstrap5 fv-plugins-framework">
        <div class="row mb-3">
          <div class="col-12 col-lg-8 offset-lg-2 text-center mb-3">
            <h4 class="mt-2">Teşekkürler! @Model.SiparisList.First().Adres.Ad @Model.SiparisList.First().Adres.Soyad
            </h4>
            <p> <a href="javascript:void(0)">#@Model.SiparisList.First().Id</a> numaralı siparişiniz verildi!</p>
            <p>
              Sipariş onayınız ve fişinizle birlikte <a
                href="@Model.KullaniciList.First().Email">@Model.KullaniciList.First().Email</a> with your
              adresine bir e-posta gönderdik. E-posta iki dakika içinde ulaşmadıysa, lütfen spam klasörünüzü kontrol
              ederek e-postanın oraya yönlendirilip yönlendirilmediğini kontrol edin.
            </p>
            <p>
              <span class="fw-semibold"><i class="ti ti-clock me-1"></i> Sipariş Zamanı:</span>
              @Model.SiparisList.First().SiparisTarihi
            </p>
          </div>
          <!-- Confirmation details -->
          <div class="col-12">
            <ul class="list-group list-group-horizontal-md">
              <li class="list-group-item flex-fill p-4 text-heading">
                <h6><i class="ti ti-map-pin"></i> Kargo Adres</h6>
                <address class="mb-0">
                  @Model.SiparisList.First().Adres.Mahalle <br>
                  @Model.SiparisList.First().Adres.AdresDetay, @Model.SiparisList.First().Adres.PostaKodu. <br>
                  @Model.SiparisList.First().Adres.Ulke @Model.SiparisList.First().Adres.Il
                  @Model.SiparisList.First().Adres.Ilce
                </address>
              </li>
              <li class="list-group-item flex-fill p-4 text-heading">
                <h6><i class="ti ti-credit-card"></i> Fatura Adresi</h6>
                <address class="mb-0">
                  @Model.SiparisList.First().Adres.Mahalle <br>
                  @Model.SiparisList.First().Adres.AdresDetay, @Model.SiparisList.First().Adres.PostaKodu. <br>
                  @Model.SiparisList.First().Adres.Ulke @Model.SiparisList.First().Adres.Il
                  @Model.SiparisList.First().Adres.Ilce
                </address>
              </li>
              <li class="list-group-item flex-fill p-4 text-heading">
                <h6 class="d-flex gap-1"><i class="ti ti-ship"></i> Kargo Yöntemi</h6>
                <p class="fw-semibold mb-3">Gönderim Seçeneği : @Model.TeslimatSecenekleri.First().Ad</p>
                @Model.TeslimatSecenekleri.First().Aciklama
              </li>
            </ul>
          </div>
        </div>

        <div class="row">
          <!-- Confirmation items -->
          <div class="col-xl-9 mb-3 mb-xl-0">
            <ul class="list-group">

              @{
                foreach (var siparislerim in Model.SepetList)
                {
                  <li class="list-group-item p-4">
                    <div class="d-flex gap-3">
                      <div class="flex-shrink-0">
                        <img src="@siparislerim.Urunler.ImageUrl" class="w-px-75">
                      </div>
                      <div class="flex-grow-1">
                        <div class="row">
                          <div class="col-md-8">
                            <a href="javascript:void(0)" class="text-body">
                              <p>@siparislerim.Urunler.Name</p>
                            </a>
                            <div class="text-muted mb-1 d-flex flex-wrap">
                              <span class="me-1">Satıcı:</span>
                              <a href="javascript:void(0)" class="me-3">MyShop</a>
                              <span class="badge bg-label-success">Stokta</span>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="text-md-end">
                              <div class="my-2 my-lg-4">
                                <span class="text-primary">@siparislerim.Urunler.Price/</span><s
                                  class="text-muted">@siparislerim.Urunler.OldPrice</s>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>


                }

              }

            </ul>
          </div>
          <!-- Confirmation total -->
          <div class="col-xl-3">
            <div class="border rounded p-4 pb-3">
              <!-- Price Details -->
              <h6>Ödeme Bilgileri</h6>
              <dl class="row mb-0">
                <dt class="col-6 fw-normal">Toplam Ödeme</dt>

                @{
                  // Sepet toplamını hesapla
                  decimal sepetToplamSon = Model.SepetList.Sum(x => x.Urunler.Price * x.Quantity);

                }

                <dd class="col-6 text-end">@sepetToplamSon.ToString("N2") TL</dd>
                <dt class="col-6 fw-normal">Kargo Ücreti</dt>
                <dd class="col-6 text-end">@kargoUcreti.ToString("N2") TL</dd>

                <dt class="col-sm-6 fw-normal">Kargo Durumu</dt>
                <dd class="col-sm-6 text-end">
                  <span class="badge bg-label-success ms-1">@Model.SiparisList.First().Durum</span>
                </dd>
              </dl>
              <hr class="mx-n4">
              <dl class="row mb-0">
                <dt class="col-6">Toplam</dt>
                <dd class="col-6 fw-semibold text-end mb-0"> @((sepetToplamSon + kargoUcreti).ToString("N2")) TL</dd>
              </dl>
            </div>
          </div>
        </div>
      </div>
    </form>

  </div>
</div>
<div class="modal fade" id="addNewAddress" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-simple modal-add-new-address">
    <div class="modal-content p-3 p-md-5">
      <div class="modal-body">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Kapat"></button>
        <div class="text-center mb-4">
          <h3 class="address-title mb-2">Yeni Adres Ekle</h3>
          <p class="text-muted address-subtitle">Hızlı teslimat için yeni adres ekleyin</p>
        </div>
        <form asp-action="AdresEkle" method="post" class="row g-3" id="adresKayit">

          <!-- Adres Türü -->
          <div class="col-12">
            <div class="row">
              <div class="col-md mb-md-0 mb-3">
                <div class="form-check custom-option custom-option-icon">
                  <label class="form-check-label custom-option-content" for="customRadioHome">
                    <span class="custom-option-body">
                      <span class="custom-option-title">Ev</span>
                      <small>Teslimat saatleri (09:00 – 21:00)</small>
                    </span>
                    <input asp-for="Adres.AdresTuru" class="form-check-input" type="radio" value="Ev"
                      id="customRadioHome" />
                  </label>
                </div>
              </div>
              <div class="col-md mb-md-0 mb-3">
                <div class="form-check custom-option custom-option-icon">
                  <label class="form-check-label custom-option-content" for="customRadioOffice">
                    <span class="custom-option-body">
                      <span class="custom-option-title">İş</span>
                      <small>Teslimat saatleri (09:00 – 17:00)</small>
                    </span>
                    <input asp-for="Adres.AdresTuru" class="form-check-input" type="radio" value="İş"
                      id="customRadioOffice" />
                  </label>
                </div>
              </div>
            </div>
          </div>

          <!-- Adres Form Alanları -->
          <div class="col-12 col-md-6">
            <label asp-for="Adres.Ad" class="form-label">Ad</label>
            <input asp-for="Adres.Ad" class="form-control" placeholder="Ahmet" />
          </div>
          <div class="col-12 col-md-6">
            <label asp-for="Adres.Soyad" class="form-label">Soyad</label>
            <input asp-for="Adres.Soyad" class="form-control" placeholder="Yılmaz" />
          </div>
          <div class="col-12">
            <label asp-for="Adres.Ulke" class="form-label">Ülke</label>
            <select asp-for="Adres.Ulke" class="form-select select2" data-allow-clear="true">
              <option value="">Seçiniz</option>
              <option value="Türkiye">Türkiye</option>
              <option value="Almanya">Almanya</option>
              <option value="ABD">ABD</option>
              <option value="Fransa">Fransa</option>
            </select>
          </div>
          <div class="col-12">
            <label asp-for="Adres.AdresDetay" class="form-label">Adres</label>
            <input asp-for="Adres.AdresDetay" class="form-control" placeholder="Cadde, Mahalle, Sokak" />
          </div>
          <div class="col-12 col-md-6">
            <label asp-for="Adres.Il" class="form-label">İl</label>
            <input asp-for="Adres.Il" class="form-control" placeholder="İstanbul" />
          </div>
          <div class="col-12 col-md-6">
            <label asp-for="Adres.Ilce" class="form-label">İlçe</label>
            <input asp-for="Adres.Ilce" class="form-control" placeholder="Kadıköy" />
          </div>
          <div class="col-12 col-md-6">
            <label asp-for="Adres.Mahalle" class="form-label">Mahalle / Semt</label>
            <input asp-for="Adres.Mahalle" class="form-control" placeholder="Moda Mah." />
          </div>
          <div class="col-12 col-md-6">
            <label asp-for="Adres.PostaKodu" class="form-label">Posta Kodu</label>
            <input asp-for="Adres.PostaKodu" class="form-control" placeholder="34710" />
          </div>

          <!-- Fatura Adresi -->
          <div class="col-12">
            <label class="switch">
              <input asp-for="Adres.FaturaAdresiMi" type="checkbox" class="switch-input" />
              <span class="switch-toggle-slider">
                <span class="switch-on"></span>
                <span class="switch-off"></span>
              </span>
              <span class="switch-label">Fatura adresi olarak kullan?</span>
            </label>
          </div>

          <!-- Butonlar -->
          <div class="col-12 text-center">
            <button type="submit" class="btn btn-primary me-sm-3 me-1">Kaydet</button>
            <button type="reset" class="btn btn-label-secondary" data-bs-dismiss="modal"
              aria-label="Kapat">İptal</button>

          </div>
        </form>


      </div>
    </div>
  </div>
</div>

<link rel="stylesheet" href="../../assets/vendor/libs/bs-stepper/bs-stepper.css" />


<!-- build:js assets/vendor/js/core.js -->
<script src="../../assets/vendor/libs/jquery/jquery.js"></script>
<script src="../../assets/vendor/libs/popper/popper.js"></script>
<script src="../../assets/vendor/js/bootstrap.js"></script>
<script src="../../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
<script src="../../assets/vendor/libs/node-waves/node-waves.js"></script>

<script src="../../assets/vendor/libs/hammer/hammer.js"></script>
<script src="../../assets/vendor/libs/i18n/i18n.js"></script>
<script src="../../assets/vendor/libs/typeahead-js/typeahead.js"></script>

<script src="../../assets/vendor/js/menu.js"></script>
<!-- endbuild -->

<!-- Vendors JS -->
<script src="../../assets/vendor/libs/select2/select2.js"></script>
<script src="../../assets/vendor/libs/bs-stepper/bs-stepper.js"></script>
<script src="../../assets/vendor/libs/rateyo/rateyo.js"></script>
<script src="../../assets/vendor/libs/cleavejs/cleave.js"></script>
<script src="../../assets/vendor/libs/cleavejs/cleave-phone.js"></script>
<script src="../../assets/vendor/libs/formvalidation/dist/js/FormValidation.min.js"></script>
<script src="../../assets/vendor/libs/formvalidation/dist/js/plugins/Bootstrap5.min.js"></script>
<script src="../../assets/vendor/libs/formvalidation/dist/js/plugins/AutoFocus.min.js"></script>

<!-- Main JS -->

<!-- Page JS -->
<script src="../../assets/js/wizard-ex-checkout.js"></script>
<!-- Page CSS -->